---
import Link from '@/app/components/link';

type Props = {
  to: string;
}

const { to } = Astro.props;
---
<li class="py-1 px-2 hover:text-gray-200">
  <Link to={to} size="size3" type="secondary">
    <slot />
  </Link>
</li>
