<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/index-animations.css">
    <link rel="stylesheet" href="styles/lightmode.css" class="theme-color">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Portfolio</title>
</head>

<body>

    <div class="modal-box">
        <div class="close-button">
            <svg width="30" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17.7485 14.9999L29.4299 3.31816C30.1901 2.55831 30.1901 1.32974 29.4299 0.569888C28.6701 -0.189963 27.4415 -0.189963 26.6816 0.569888L14.9999 12.2516L3.31843 0.569888C2.55823 -0.189963 1.33001 -0.189963 0.570155 0.569888C-0.190052 1.32974 -0.190052 2.55831 0.570155 3.31816L12.2516 14.9999L0.570155 26.6817C-0.190052 27.4415 -0.190052 28.6701 0.570155 29.43C0.948835 29.809 1.44674 29.9994 1.94429 29.9994C2.44185 29.9994 2.9394 29.809 3.31843 29.43L14.9999 17.7482L26.6816 29.43C27.0607 29.809 27.5582 29.9994 28.0558 29.9994C28.5533 29.9994 29.0509 29.809 29.4299 29.43C30.1901 28.6701 30.1901 27.4415 29.4299 26.6817L17.7485 14.9999Z"
                    fill="#41BAD8" />
            </svg>
        </div>

        <div class="modal-content">
            <h2>Attention</h2>
            <p>You're using a browser that is not supported. <br> For more experience on this site, use another browser
            </p>
        </div>
    </div>

    <header>
        <div class="mode-visualization">
            <svg width="50" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M25.0001 8.78988C33.9288 8.78988 41.1929 16.0398 41.1929 24.951C41.1929 25.2116 41.1867 25.4755 41.1742 25.7356L42.643 25.8057C42.6567 25.5225 42.6635 25.235 42.6635 24.9511C42.6635 15.2305 34.7398 7.32227 25.0001 7.32227C24.6717 7.32227 24.339 7.33146 24.0115 7.34947L24.0926 8.81493C24.3932 8.79829 24.6985 8.78988 25.0001 8.78988Z"
                    fill="#41BAD8" />
                <path
                    d="M9.05078 22.1423L7.60234 21.8889C7.51372 22.3936 7.44646 22.909 7.40234 23.4205L8.86754 23.5463C8.90793 23.0773 8.9696 22.6049 9.05078 22.1423Z"
                    fill="#41BAD8" />
                <path
                    d="M42.7035 27.0946C39.9039 29.5871 37.0984 31.6997 33.2264 32.1479C29.0284 32.6338 24.7656 31.1477 21.7785 28.1665C18.7955 25.1893 17.2949 20.9273 17.7893 16.7411C18.2463 12.8723 20.3518 10.0802 22.8525 7.28247C19.9261 8.05155 17.1337 8.8676 14.641 10.6713C11.3859 13.0266 8.98843 16.4811 7.94275 20.3572L9.36275 20.7388C10.6603 15.9291 14.1221 12.0116 18.6411 10.0844C14.7954 16.0946 15.6954 24.1767 20.7403 29.2028C25.7864 34.2301 33.8683 35.1414 39.898 31.2967C36.837 38.4645 28.7859 42.4892 21.2001 40.6613C14.0231 38.932 8.80726 32.3185 8.80726 24.9512H7.33667C7.33667 34.5496 15.3869 42.5807 25.0001 42.5799C29.7187 42.5795 34.3202 40.6464 37.6231 37.285C40.4605 34.3974 41.6978 30.9063 42.7035 27.0946Z"
                    fill="#41BAD8" />
                <path d="M44.1177 24.2173H50V25.685H44.1177V24.2173Z" fill="#41BAD8" />
                <path d="M37.9932 10.9436L42.152 6.79292L43.1918 7.83066L39.0329 11.9813L37.9932 10.9436Z"
                    fill="#41BAD8" />
                <path d="M37.99 38.8062L39.0298 37.7684L43.1886 41.9191L42.1488 42.9568L37.99 38.8062Z"
                    fill="#41BAD8" />
                <path d="M24.2646 0H25.7352V5.87084H24.2646V0Z" fill="#41BAD8" />
                <path d="M24.2646 44.1292H25.7352V50H24.2646V44.1292Z" fill="#41BAD8" />
                <path
                    d="M5.93141 42.6125H4.46082V44.0803H2.99023V45.548H4.46082V47.0157H5.93141V45.548H7.402V44.0803H5.93141V42.6125Z"
                    fill="#41BAD8" />
                <path
                    d="M8.87244 7.33843H10.343V5.87072H11.8136V4.40301H10.343V2.9353H8.87244V4.40301H7.40186V5.87072H8.87244V7.33843Z"
                    fill="#41BAD8" />
                <path
                    d="M4.41177 25.6849V24.2172H2.94118V22.7495H1.47059V24.2172H0V25.6849H1.47059V27.1526H2.94118V25.6849H4.41177Z"
                    fill="#41BAD8" />
                <path d="M7.33667 39.6282H8.80726V41.0959H7.33667V39.6282Z" fill="#41BAD8" />
                <path d="M2.99023 8.8457H4.46082V10.3134H2.99023V8.8457Z" fill="#41BAD8" />
            </svg>
        </div>
    </header>

    <div class="avatar-container">
        <img src="https://avatars1.githubusercontent.com/u/52766091?v=4" alt="Matheus Ferreira">
        <svg width="320" height="320" viewBox="0 0 320 320" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="160" cy="160" r="160" fill="#3291A8" />
        </svg>
    </div>

    <div class="container-complete">
        <div class="socials-networks">
            <a href="redirect-github" target="_blank" title="visit my Github">

                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32.6523 9.14397C31.0874 6.46272 28.9647 4.33997 26.2837 2.77524C23.6023 1.21043 20.675 0.428223 17.4997 0.428223C14.3249 0.428223 11.3966 1.21067 8.71574 2.77524C6.03449 4.33989 3.9119 6.46272 2.34701 9.14397C0.782364 11.8251 0 14.753 0 17.9275C0 21.7407 1.11253 25.1697 3.33816 28.2153C5.56354 31.2611 8.43841 33.3687 11.9625 34.5383C12.3727 34.6144 12.6764 34.5609 12.8739 34.379C13.0714 34.1969 13.17 33.9688 13.17 33.6957C13.17 33.6501 13.1661 33.2401 13.1585 32.4653C13.1507 31.6904 13.147 31.0144 13.147 30.4377L12.6229 30.5283C12.2888 30.5895 11.8672 30.6155 11.3583 30.6081C10.8496 30.601 10.3215 30.5477 9.77472 30.4486C9.22771 30.3503 8.71894 30.1225 8.24798 29.7655C7.77727 29.4085 7.44311 28.9412 7.24559 28.3644L7.01773 27.84C6.86586 27.491 6.62675 27.1032 6.30009 26.6781C5.97344 26.2526 5.64311 25.9642 5.30895 25.8123L5.14941 25.6981C5.04311 25.6222 4.94446 25.5307 4.85324 25.4245C4.7621 25.3182 4.69387 25.2119 4.64829 25.1055C4.60264 24.9989 4.64047 24.9115 4.76218 24.843C4.88389 24.7744 5.10384 24.7411 5.423 24.7411L5.87854 24.8092C6.18238 24.8701 6.5582 25.052 7.00648 25.356C7.45453 25.6597 7.82284 26.0546 8.11151 26.5405C8.46107 27.1635 8.88222 27.6382 9.37616 27.9649C9.8697 28.2915 10.3673 28.4546 10.8685 28.4546C11.3697 28.4546 11.8026 28.4166 12.1673 28.341C12.5316 28.265 12.8735 28.1508 13.1926 27.999C13.3293 26.9808 13.7015 26.1986 14.309 25.6518C13.4432 25.5609 12.6648 25.4238 11.9735 25.2416C11.2825 25.0592 10.5684 24.7631 9.83179 24.3526C9.09475 23.9426 8.48334 23.4335 7.99739 22.8261C7.51135 22.2185 7.11247 21.4207 6.80129 20.4336C6.48996 19.446 6.33425 18.3068 6.33425 17.0157C6.33425 15.1773 6.93441 13.6129 8.1345 12.3216C7.57232 10.9394 7.6254 9.39002 8.29387 7.6735C8.73442 7.53663 9.38773 7.63934 10.2535 7.981C11.1194 8.32282 11.7534 8.61564 12.1561 8.85842C12.5588 9.10112 12.8815 9.30678 13.1246 9.47358C14.5376 9.07877 15.9958 8.88132 17.4996 8.88132C19.0033 8.88132 20.4618 9.07877 21.8749 9.47358L22.7408 8.92697C23.3329 8.56225 24.0321 8.22801 24.8367 7.92418C25.6418 7.6205 26.2574 7.53686 26.683 7.67374C27.3663 9.39034 27.4272 10.9397 26.8649 12.3218C28.0649 13.6131 28.6653 15.1779 28.6653 17.0159C28.6653 18.307 28.509 19.4498 28.1981 20.445C27.8869 21.4403 27.4846 22.2372 26.991 22.8376C26.4969 23.4378 25.8816 23.9429 25.145 24.3528C24.4082 24.763 23.6939 25.0591 23.0029 25.2416C22.3116 25.424 21.5333 25.5611 20.6675 25.6522C21.4571 26.3356 21.852 27.4142 21.852 28.8876V33.695C21.852 33.9682 21.947 34.1962 22.1371 34.3784C22.3269 34.5603 22.6268 34.6138 23.037 34.5376C26.5616 33.3682 29.4365 31.2605 31.6618 28.2147C33.8868 25.1691 34.9998 21.7401 34.9998 17.9268C34.999 14.7528 34.2162 11.8251 32.6523 9.14397Z"
                        fill="#1A6578" />
                </svg>

            </a>
            <a href="/redirect-linkedin" target="_blank" title="visit my Linkedin">
                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.7083 0H7.29167C3.26521 0 0 3.26521 0 7.29167V27.7083C0 31.7348 3.26521 35 7.29167 35H27.7083C31.7363 35 35 31.7348 35 27.7083V7.29167C35 3.26521 31.7363 0 27.7083 0ZM11.6667 27.7083H7.29167V11.6667H11.6667V27.7083ZM9.47917 9.8175C8.07042 9.8175 6.92708 8.66542 6.92708 7.245C6.92708 5.82458 8.07042 4.6725 9.47917 4.6725C10.8879 4.6725 12.0312 5.82458 12.0312 7.245C12.0312 8.66542 10.8894 9.8175 9.47917 9.8175ZM29.1667 27.7083H24.7917V19.5358C24.7917 14.6242 18.9583 14.996 18.9583 19.5358V27.7083H14.5833V11.6667H18.9583V14.2406C20.9942 10.4694 29.1667 10.1908 29.1667 17.8515V27.7083Z"
                        fill="#1A6578" />
                </svg>
            </a>

            <a href="/redirect-email" target="_blank" title="Contact me">
                <svg width="35" height="35" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2502 37.5001L125 110L228.75 37.5001H21.2502Z" fill="#1A6578" />
                    <path
                        d="M131.25 135C127.5 137.5 121.25 137.5 117.5 135L0 52.5001V200C0 206.25 6.25 212.5 12.5 212.5H237.5C243.75 212.5 250 206.25 250 200V52.5001L131.25 135Z"
                        fill="#1A6578" />
                </svg>


            </a>
        </div>

        <div class="container">
            <div class="projects">
                <a href="#">Name Project</a>
                <p>This project is a project</p>
            </div>
            <div class="projects">
                <a href="#">Name Project</a>
                <p>This project is a project</p>
            </div>
            <div class="projects">
                <a href="#">Name Project</a>
                <p>This project is a project</p>
            </div>
            <div class="projects">
                <a href="#">Name Project</a>
                <p>This project is a project</p>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>