<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/splash-template.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Syncing to email</title>
</head>

<body id="splash-screen__share">
    <div id="container">
        <img src="img/email.svg" alt="Share Logo">
    </div>

    <script src="scripts/enterToEmail.js"></script>
</body>

</html>