<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/splash-template.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Syncing to GitHub</title>
</head>

<body id="splash-screen__github">
    <div id="container">
        <img src="img/github.svg" alt="GitHub Logo">
    </div>
    <script src="scripts/enterToGitHub.js"></script>
</body>

</html>