---
import Heading from '@/ui/components/heading';
import Layout from '@/ui/layouts/layout.astro';
import Text from '@/ui/components/text';
import Link from '@/ui/components/link';
---
<Layout>
  <div class="flex items-center flex-col justify-center h-full">
    <Heading margin="mb-3">Houston, we have a problem!</Heading>
    <Text margin="mb-1">The page you are attempting access not exists</Text>
    <Link to="/">Click here to go home</Link>
  </div>
</Layout>
