---
// TODO centralize better texts
// TODO change size of texts
import Text from '@/ui/components/text';
import Heading from '@/ui/components/heading';
import Layout from '@/ui/layouts/layout.astro';
---
<Layout>
  <div class="h-full flex justify-center flex-col">
    <Heading
      as="h2"
      type="primary"
    >
      Matheus Ferreira
    </Heading>
    <Text
      as="p"
      type="secondary"
      margin="mt-4"
      bold
    >
      Software Developer
    </Text>
    <Text
      as="p"
      type="secondary"
      margin="mt-1"
    >
      Passionated to make scalable applications
    </Text>
  </div>
</Layout>
